[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-bcrypt = "*"
faker = "*"
flask-jwt-extended = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
