
  .form-group a {
    color: rgb(29, 15, 235); 
    text-decoration: none; 
    transition: color 0.3s; 
  }

 
  .form-group a:hover {
    color: green;
  }

  #card{
    
    height: 20em;
    margin-top: .5em;
    margin-left: 10px;
    margin-right: 10px;
  }

  #para1{
    margin-top: 6em;
  }

  #aboutus{
   
   margin: 10px;
    
   
  }

  #products{
    height: 15em;
  }

  #summary{
    height: 17.5em;
  }