
  .form-group a {
    color: rgb(29, 15, 235); 
    text-decoration: none; 
    transition: color 0.3s; 
  }

 
  .form-group a:hover {
    color: green;
  }

  #card{
    
    height: 20em;
    margin-top: .5em;
    margin-left: 10px;
    margin-right: 10px;
  }

  #para1{
    margin-top: 6em;
  }

  #aboutus{
   
   margin: 10px;
    
   
  }

  #products{
    height: 15em;
  }

  #summary{
    height: 17.5em;
  }

  #feedback{
   margin-top: 3em;
   margin-left: .5em;
   margin-right: .5em;
   line-height: 2em;
  }
  #displaycard{
    line-height: 15em;
  }
  #footer{
    border: 2px;
    border-radius: 4px;
    margin: 4.8px;
  }
  #login{
    margin: 10em;
   
  }

  #register{
    margin-top: 8em;
    width: 28em;
  }
#passport{
  margin: 3em;
  width: 18em;
  line-height: 10em;
}
#profile{
 
  margin: 2em;
  width: 20em;
}
#category{
  margin:  2em;
}

#apartment{
  margin:2em;
}


#dashboard {
  display: flex;
}

#sidepane {
  flex: 0 0 15em; /* Set sidepane width */
}

#main body {
  width: calc(100% - 15em); /* Set mainview width to fill remaining space */
}

.card-img-container {
  height: 10em; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  width: auto; /* To maintain the aspect ratio of the image */
  height: 100%;
  object-fit: cover;
}
